@import "./config.scss";

@import "~bootstrap/scss/bootstrap";

html {
  font-size: $fontsize;
  .content {
    padding: 0;
    position: relative;
    transition: all 0.3s ease;
    backface-visibility: hidden;
    min-height: calc(100% - 3.35rem);
    margin-left: 260px;
    &.app-content {
      padding: 6rem 2rem 0;
    }
  }
}
body {
  height: 100%;
  background-color: $accent-bg;
  font-family: $system;
  color: $text;
  overflow-x: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $text-h;
}

h5,
.h5 {
  font-size: 1.07rem;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 500;
  padding: 0.786rem 1.5rem;
  line-height: 1;
  &.btn-icon {
    padding: 0.78rem 0.736rem;
  }
  &:focus {
    box-shadow: none;
  }
  svg {
    vertical-align: bottom;
  }
}

.svg-user svg {
  color: #7367f0;
}

.svg-admin svg {
  color: #ea5455;
}

.dropdown-menu {
  box-shadow: 0 5px 25px rgb(34 41 47 / 10%);
  transform: scale(1, 0);
  border-radius: 0.357rem;
  border: 1px solid rgba(34, 41, 47, 0.05);
  svg {
    height: 16px;
    width: 16px;
    margin-right: 0.5rem;
  }
}

.dropdown-item {
  padding: 0.65rem 1.28rem;
  color: $text;
}

.dropdown-toggle {
  &.hide-arrow {
    &::after {
      display: none;
    }
  }
}

.nav-pills {
  .nav-link {
    padding: 0.786rem 1.5rem;
    font-size: 1rem;
    line-height: 1rem;
    color: $text;
    &.active {
      background-color: $accent;
      border-color: $accent;
      box-shadow: 0 4px 18px -4px rgba($accent, 0.65);
    }
    svg {
      height: 1.3rem;
      width: 1.3rem;
      margin-right: 0.5rem;
    }
  }
}

.btn-primary {
  border-color: $accent !important;
  background-color: $accent !important;
  &:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px $accent;
  }
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}
.avatar img {
  border-radius: 50%;
}

.auth-wrapper {
  display: flex;
  padding: 0 1.5rem;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .auth-inner {
    max-width: 400px;
    position: relative;
  }
}

.modal-slide-in {
  .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: 0;
    max-width: none;
    width: 20rem;
    .modal-content {
      padding-bottom: 1.8875rem;
      overflow: auto;
      border-radius: 0;
      height: 100%;
    }
  }
  &.fade {
    .modal-dialog {
      transform: translateX(100%);
    }
  }
  &.show {
    .modal-dialog {
      transform: translateX(0) !important;
    }
  }
  .btn-close {
    z-index: 10;
    position: absolute;
    top: 0.6rem;
    right: 0.4rem;
    margin: 0;
    padding: 0;
    line-height: 0.5;
    transform: translate(0, -50%);
  }
}

.btn-close {
  width: 0.75rem;
  height: 0.75rem;
}

.modal {
  .modal-header {
    background-color: #f8f8f8;
    .btn-close {
      padding: 0.8rem;
      box-shadow: 0 5px 20px 0 rgba(34, 41, 47, 0.1);
      border-radius: 0.357rem;
      background-color: #fff;
      opacity: 1;
      transition: all 0.23s ease 0.1s;
      position: relative;
      transform: translate(18px, -10px);
      &:hover {
        opacity: 1;
        transform: translate(13px, -4px);
        box-shadow: none;
      }
    }
  }
}

.modal-header {
  padding: 0.8em 1.4rem;
  border-bottom: 0px solid #ebe9f1;
}

.modal-title {
  line-height: 1.45;
}

.modal-body {
  padding: 0.8rem 1.4rem;
}

.card {
  border-width: 0;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  border-radius: 0.428rem;
  .card-header {
    padding: 1.5rem;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    &:first-child {
      border-radius: 0.428rem 0.428rem 0 0;
    }
  }
  .card-body {
    padding: 1.5rem;
  }
  .card-title {
    font-size: 1.285rem;
    margin-bottom: 0;
  }
}

.loader-main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 999;
}

.app-content {
  position: relative;
  min-height: calc(100% - 3.35rem);
  margin-left: 260px;
}

.text-body {
  color: $text !important;
}

.table {
  > :not(:first-child) {
    border-top: 0px solid currentColor;
  }
  svg {
    height: 1.3rem;
    width: 1.3rem;
  }
  .avatar {
    width: 38px;
    height: 38px;
  }
  &.dataTable {
    margin-top: 6px;
    margin-bottom: 6px;
    td,
    th {
      vertical-align: middle;
      padding: 0.72rem 1.5rem;
    }
    thead,
    tfoot {
      th {
        text-transform: uppercase;
        font-size: 0.857rem;
        letter-spacing: 0.5px;
      }
    }
  }
}

.avatar {
  white-space: nowrap;
  background-color: #c3c3c3;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  color: #fff;
  display: inline-flex;
}

.flatpickr-input[readonly],
.flatpickr-input ~ .form-control[readonly],
.flatpickr-human-friendly[readonly] {
  background-color: inherit;
  opacity: 1 !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: $accent !important;
  border-color: $accent !important;
}

.flatpickr-months .flatpickr-month,
.flatpickr-weekdays,
.flatpickr-current-month .flatpickr-monthDropdown-months,
span.flatpickr-weekday {
  background: $accent !important;
}

.mw-33 {
  max-width: 33%;
}

.mw-25 {
  max-width: 25%;
}

.input-group-text {
  background: #fff;
}

.form-control {
  resize: none;
  &:not([class*="flatpickr-input"])[readonly] {
    background-color: #fff;
    border: none;
  }
}

label {
  .notice {
    display: inline-block;
    text-align: center;
    color: #7367f0;
    cursor: pointer;
    border: 1px solid #7367f0;
    border-radius: 50%;
    font-size: 0.95em;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.3;
    vertical-align: text-bottom;
    margin-left: 3px;
  }
}

.item-icon {
  cursor: pointer;
  padding: 5px;
}

@media (min-width: 576px) {
  .modal-slide-in {
    .modal-dialog {
      width: 28rem;
    }
  }
}
